.btn{
width: 80px;
height: 80px;
border-radius: 50%;
border-color: black;
color: #fff;
cursor: pointer;
margin: 10%;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.btn:hover {
    border: 1px solid white;
}
.count{
width: 100px;
border-radius: 10px;
background: gray;
margin: auto;
margin-bottom: 30px;
padding: 10px;
font-size: 30px;

}